.annabelleDiv {
    font-family: Castellar;
    color:white;
    position:relative;
    text-align: center;
}
.annabelleDoor,.annabelleScene1,.annabelleScene2,.annabelleScene3,.annabelleScene4,.annabelleScene5,.youWin{
    width: 100%;
    min-height: 100%;
}
.talkBubble1{
    position:absolute;
    top:75%;
    left:36%;
}
.talkBubble2{
    position:absolute;
    top:10%;
    left:72%;
}
.talkBubble3{
    position:absolute;
    top:13%;
    width:20%;
    left:72%;
}
#fightBtn,#escapeBtn{
    position: absolute;
   /* margin-bottom: auto;*/
    border: none;
    cursor: pointer;
    background-color:transparent;
    color: transparent;
    width: 13%;
    height: 6.5%;

}
#escapeBtn{
    background: url("/images/escape_button.jpg");
    background-size: 100%;
    top: 85%;
    left: 52%;
}
#fightBtn{
    background: url("/images/fight_button.jpg");
    background-size: 100%;
    top: 85%;
    left: 37%;
}

.nextBtn{
    background: url("/images/nextBtn.jpg");
    top: 87%;
    left: 77%;
    background-size: 100%;
    width: 9%;
    height: 8.7%;
    position: absolute;
    cursor: pointer;
}
/*.showAnnabelleItems {*/
/*    width: 10%;*/
/*    height: 5%;*/
/*    position: absolute;*/
/*    background-color: rgba(142,142,142,0.4);*/
/*    color: white;*/
/*    border: 1px solid white;*/
/*    border-radius: 10px;*/
/*    top: 89%;*/
/*    left: 2%;*/
/*}*/
/*.annabelleItemsDiv{*/
/*    position: absolute;*/
/*    width: 28%;*/
/*    height: 50%;*/
/*    !* background-color: rgba(0,0,0,0.2); *!*/
/*    left: 1.5%;*/
/*    top: 55%;*/
/*}*/
/*.annabelleItemsDiv>.itemSmallDiv1>.item1, .annabelleItemsDiv>.itemSmallDiv2>.item2, .annabelleItemsDiv>.itemSmallDiv3>.item3, .annabelleItemsDiv>.itemSmallDiv4>.item4{*/
/*    background-color: transparent;*/
/*    width: 20%;*/
/*    height: 20%;*/
/*    display: block;*/
/*    border:0;*/
/*    padding-bottom: 5%;*/
/*    margin-left: 22%;*/
/*    background-size:100%;*/
/*}*/
/*.annabelleItemsDiv>button>img{*/
/*    width: 100%;*/
/*    height:100%;*/
/*    border-radius: 7px;*/
/*}*/
/*.deleteButton1,.deleteButton2,.deleteButton3,.deleteButton4{*/
/*    position: absolute;*/
/*    width: 30%;*/
/*    height: 15%;*/
/*    border: 1px solid white;*/
/*    background-color: rgba(142,142,142,0.4);*/
/*    color: white;*/

/*}*/
/*.deleteButton1{*/
/*    top: 1%;*/
/*    left: 42%;*/
/*}*/
/*.deleteButton2{*/
/*    top: 21%;*/
/*    left: 42%;*/
/*}*/
/*.deleteButton3{*/
/*    top: 41%;*/
/*    left: 42%;*/
/*}*/
/*.deleteButton4{*/
/*    top: 61%;*/
/*    left: 42%;*/
/*}*/


/*
.itemsBtn{
    background: url("/images/itemsbutton.jpg");
    top: 87%;
    left: 42%;
    background-size: 100%;
    width: 13%;
    height: 7.0%;
    position: absolute;
    cursor: pointer;

}
*/

