.baseBackground{
    width: 100%;
    min-height: 100%;
}

.arrowDown{
    margin-bottom: auto;
    top: 90%;
    left: 48%;
    transform: rotate(270deg);
}
.arrowRight{
    float: right;
    top: 65%;
    left: 59%;
    transform: rotate(180deg);
}
.arrowLeft{
    float: left;
    top: 65%;
    left: 34%;
}
button{
    position: absolute;
    border: none;
    cursor: pointer;
    background: rgba(0,0,0,0.0);
}
