.baseDiv{
   position: relative;
}
.baseBackground{
    position: relative;
    width: 100%;
    min-height: 100%;
}

.arrowDown{
    margin-bottom: auto;
    top: 90%;
    left: 48%;
    transform: rotate(270deg);
}
.arrowRight{
    float: right;
    top: 65%;
    left: 59%;
    transform: rotate(180deg);
}
.arrowLeft{
    float: left;
    top: 65%;
    left: 34%;
}
button{
    position: absolute;
    border: none;
    cursor: pointer;
    background: rgba(0,0,0,0.0);
}

.enterLeftRoomButton{
    background: url("/images/arrowDown");
    background-size: 100%;
    height: 8.7%;
    width: 5%;
    border: 0;
    position: absolute;
    transform: rotate(90deg);
    cursor: pointer;
    top: 55%;
    left: 32%;
    /*background: rgba(0,0,0,0.0);*/
}

.enterRightRoomButton{
    background: url("/images/arrowDown");
    background-size: 100%;
    height: 8.7%;
    width: 5%;
    border: 0;
    position: absolute;
    transform: rotate(90deg);
    cursor: pointer;
    top: 55%;
    left: 65%;
}

.doorScreenImage{
    position: relative;
    width: 100%;
    min-height: 100%;
}

