.container{
    font-family: Castellar;
   /* font-size: ;*/
    color:white;
position:relative;
    text-align: center;
}
.container p{
    position: absolute;
    top:74%;
    left:10%;
    width:62%
}
#nextButt,#nextButt2{

    margin-bottom: auto;
    top: 85%;
    left: 80%;
    position: absolute;
    border: none;
    cursor: pointer;
    background: rgba(0,0,0,0.0)
}
#introBaseImg,#introBase2Img,#doorIntroImg,#gameStartImg{

    width: 100%;
    min-height: 100%;
}
