.container{
    font-family: Castellar;
   /* font-size: ;*/
    color:white;
position:relative;
    text-align: center;
}
#introPart1,#introPart2,#introPart3,#introPart4{
    position: absolute;
    top:60%;
    left:2%;
}

/*I Js Sätt all text förutom den första som document.getElementById("introPart2).style-display="none".
 Sätt sedan den text du vill visa som "block" ist för "none" när den ska visas.*/