.container{
    font-family: Castellar;
   /* font-size: ;*/
    color:white;
position:relative;
    text-align: center;
}
.container p{
    position: absolute;
    top:74%;
    left:10%;
    width:62%
}
#nextButt{
    background: url("/images/nextBtn.jpg");
    top: 85%;
    left: 80%;
    background-size: 100%;
    width: 9%;
    height: 8.7%;
    border: 0;
    position: absolute;
    cursor: pointer;

}
#introBaseImg,#introBase2Img,#doorIntroImg,#gameStartImg{

    width: 100%;
    min-height: 100%;
}
