.mainDiv{
    position: relative;
    width: 100%;
    /*position: center;*/
    padding: 10px 10px;
}
.itemsDiv{
    position: absolute;
    /*display: flex;*/
    /*justify-content: space-between;*/
    width: 17%;
    height: 40%;
    /*background-color: rgba(0,0,0,0.2);*/
    left: 1.5%;
    top: 55%;
}
/*.itemsDiv>button{*/
/*    width: 20%;*/
/*    height: 20%;*/
/*    display: block;*/
/*    !*background-color: transparent;*!*/
/*    border:0;*/
/*    padding-bottom: 5%;*/
/*    margin-left: 22%;*/
/*    background-size:100%;*/
/*}*/
.itemSmallDiv1, .itemSmallDiv2, .itemSmallDiv3, .itemSmallDiv4{
    background-color: transparent;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    border:0;
    padding-bottom: 5%;
    margin: 0;
    min-width: 50px;
    min-height: 50px;
    /*margin-left: 22%;*/
    background-size:100%;
}

.itemsDiv .itemSmallDiv1 .item1, .itemsDiv .itemSmallDiv2 .item2, .itemsDiv .itemSmallDiv3 .item3, .itemsDiv .itemSmallDiv4 .item4{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border:0;
    padding-bottom: 5%;
    /*margin-left: 22%;*/
    background-size:100%;
}
.itemsDiv .itemSmallDiv1 button img, .itemsDiv .itemSmallDiv2 button img, .itemsDiv .itemSmallDiv3 button img, .itemsDiv .itemSmallDiv4 button img{
    width: 100%;
    height:100%;
    border-radius: 7px;
}
.deleteButton1,.deleteButton2,.deleteButton3,.deleteButton4{
    position: absolute;
    margin-left: 50px;
    width: 30%;
    height: 15%;
    border: 1px solid white;
    background-color: rgba(142,142,142,0.4);
    color: white;

}

.showItems{
    width: 10%;
    height: 5%;
    position: absolute;
    background-color: rgba(142,142,142,0.4);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    top: 89%;
    left: 2%;
 }
.jigsawBaseBackground{
    /*position: relative;*/
    object-position: center;
    position: center;
    width: 100%;
    min-height: 100%;
}
.jigsawGreeting{
    color: white;
    position: absolute;
    font-size: 2.5vw;
    top: 70%;
    left: 28%;
    padding: 0;
}
.jigsawCreateName{
    color: white;
    position: absolute;
    font-size: 2.0vw;
    top: 70%;
    left: 22.5%;
    padding: 0;
}

.screen1Answer1{
    background: url("/images/jigsawFight/playerChoiceScreen1Answer1.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 80%;
    left: 25%;
}
.screen1Answer2{
    background: url("/images/jigsawFight/playerChoiceScreen1Answer2.jpg");
    background-size: 100%;
    position: absolute;
    border:0;
    width: 50%;
    height: 6.2%;
    padding:0;
    top: 87%;
    left: 25%;
}

.answer1Screen2{
    width: 100%;
    min-height: 100%;
}
.enterRoomButton{
    background: url("/images/arrowDown");
    background-size: 100%;
    height: 8.7%;
    width: 5%;
    border: 0;
    position: absolute;
    transform: rotate(90deg);
    cursor: pointer;
    top: 55%;
    left: 48%;
    /*background: rgba(0,0,0,0.0);*/
}
.jigsawGameScreenOne{
    width: 100%;
    min-height: 100%;
}
/*.nextButton{*/
/*    margin-bottom: auto;*/
/*    top: 85%;*/
/*    left: 70%;*/
/*    position: absolute;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/
.nextButton{
    background: url("/images/nextBtn.jpg");
    background-size: 100%;
    width: 6%;
    height: 4.7%;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 85%;
    left: 70%;
}
.jigsawGameClueNumberOne{
    background: url("/images/jigsawFight/jigsawGameClueOne.png");
    background-size: 100%;
    width: 6%;
    height: 9%;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 80%;
    left: 8%;
}
.jigsawGameClueNumberTwo{
    background: url("/images/jigsawFight/jigsawGameClueTwo.png");
    background-size: 100%;
    width: 6%;
    height: 9%;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 85%;
    left: 65%;
}
.jigsawGameClueNumberThree{
    background: url("/images/jigsawFight/jigsawGameClueThree.png");
    background-size: 100%;
    width: 6%;
    height: 9%;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 23%;
    left: 62%;
}
.clueOne{
    background: url("/images/jigsawFight/jigsawGameCode1.jpg");
    background-size: 100%;
    width: 6%;
    height: 4.7%;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 80%;
    left: 12%;
}
.clueTwo{
    background: url("/images/jigsawFight/jigsawGameCode2.jpg");
    background-size: 100%;
    width: 6%;
    height: 4.7%;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 85%;
    left: 70%;
}
.clueThree{
    background: url("/images/jigsawFight/jigsawGameCode3.jpg");
    background-size: 100%;
    width: 6%;
    height: 4.7%;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 25%;
    left: 67%;
}
.enterKeycodeButton{
    background: url("/images/arrowDown");
    background-size: 100%;
    height: 8.7%;
    width: 5%;
    border: 0;
    position: absolute;
    transform: rotate(90deg);
    cursor: pointer;
    top: 55%;
    left: 30%;
}

.keycodeGenerator{
    position: absolute;
    left: 22%;
    top: 45%;
    width: 20%;
    min-height: 5%;
}

.submitInput{
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: xx-large;
    text-align: center;
    left: 22%;
    top: 45%;
    width: 20%;
    min-height: 7.2%;
}

.submitButton{
    position: absolute;
    background-color: darkgray;
    color: white;
    border: 0;
    left: 42%;
    top: 45.2%;
    width: 5%;
    height: 8%;
}
.question1Button{
    background: url("/images/jigsawFight/jigsawScreen2Question1.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 70%;
    left: 25%;
}
.question2Button{
    background: url("/images/jigsawFight/jigsawScreen2Question2.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 77%;
    left: 25%;
}
.question3Button{
    background: url("/images/jigsawFight/jigsawScreen2Question3.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 84%;
    left: 25%;
}

.question1ButtonScreen3{
    background: url("/images/jigsawFight/jigsawQuestion1Screen3.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 71%;
    left: 25%;
}
.question2ButtonScreen3{
    background: url("/images/jigsawFight/jigsawQuestion2Screen3.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 78%;
    left: 25%;
}
.question3ButtonScreen3{
    background: url("/images/jigsawFight/jigsawQuestion3Screen3.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 85%;
    left: 25%;
}

.question1ButtonScreen4{
    background: url("/images/jigsawFight/jigsawQuestion1Screen4.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 72%;
    left: 25%;
}
.question2ButtonScreen4{
    background: url("/images/jigsawFight/jigsawQuestion2Screen4.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 79%;
    left: 25%;
}

.question1ButtonScreen5{
    background: url("/images/jigsawFight/jigsawQuestion1Screen5.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 76%;
    left: 25%;
}
.question2ButtonScreen5{
    background: url("/images/jigsawFight/jigsawQuestion2Screen5.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 83%;
    left: 25%;
}
.escapeScreenFourButton{
    background: url("/images/jigsawFight/jigsawEscapeDistracted.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 83%;
    left: 25%;
}
.howDoIWinButton{
    background: url("/images/jigsawFight/jigsawHowDoIWin.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 76%;
    left: 25%;
}
.escapeTrickButton{
    background: url("/images/jigsawFight/jigsawEscapeTrick.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 83%;
    left: 25%;
}
.playGameButton{
    background: url("/images/jigsawFight/jigsawEnterTheDoor.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 76%;
    left: 25%;
}
.uglyButton{
    background: url("/images/jigsawFight/jigsawUglyWIthMakeup.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 76%;
    left: 25%;
}
.trickAndEscapeButton{
    background: url("/images/jigsawFight/jigsawTrickAndEscapeBtn.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 83%;
    left: 25%;
}
.letsPlayButton{
    background: url("/images/jigsawFight/jigsawLetsPlayTheGame.jpg");
    background-size: 100%;
    position: absolute;
    border: 0;
    width: 50%;
    height: 6.2%;
    padding: 0;
    top: 80%;
    left: 25%;
}