h1{
    color: green;
}
.indexMainDiv{
    position: relative;
}
.span{

margin-bottom: auto;
position: absolute;
border: none;
cursor: pointer;
display:block;
    padding:5px;
}

.menuBackground{
    position: relative;
    width: 100%;
    min-height: 100%;
}

