
.indexMainDiv,.playerDiv{
    position: relative;
}
.menuImg{
    position: relative;
    width: 100%;
    min-height: 100%;
}

.indexMainDiv button{
    position: absolute;
    background: rgba(0,0,0,0.0);
    background: grey;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    color: #d2d2d2;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:550;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}
.startBtn{
    width:17%;
    height:6%;
    top:68%;
    right:39%;
}
.resumeBtn{
    width:15%;
    height:6%;
    top:77%;
    right:40%;
}
.exitBtn{
    width:13%;
    height:6%;
    top:86%;
    right:41%;
}
.playerDiv{
    position: absolute;
    top:50%;
    right:40%;
    color:white;
}
.btn-info{
    right:31%;
    top:57%;
}
table tr .edit {
    position: absolute;
    display: none;
}

table tr.edit .edit {
    position: absolute;
    display: initial;
}

table tr.edit .noEdit {
    position: absolute;
    display: none;
}



