<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/annabelle.css">

    <meta charset="UTF-8">
    <title>Annabelle Fight</title>
</head>
<body>
<div class="annabelleDiv">
    <img class="annabelleDoor" th:src="@{/images/annabelleFight/annabelleDoor.jpg}">
    <button class="fightBtn" id="fightBtn"><img th:src="@{/images/fight_button.jpg}" ></button>
    <button class="escapeBtn" id="escapeBtn"><img th:src="@{/images/escape_button.jpg}" ></button>
    <button class="itemsBtn" id="itemsBtn"><img th:src="@{/images/itemsbutton.jpg}"></button>
    <p class="talkBubble1">"Annabelle's evil laughter is echoing in the room"</p>
</div>
<script th:src="@{webjars/jquery/3.1.1/jquery.js}"></script>
<script th:src="@{/js/annabelleView.js}"></script>
</body>
</html>