<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/annabelle.css">
    <link rel="stylesheet" type="text/css" href="/jigsawScreen.css">

    <meta charset="UTF-8">
    <title>Annabelle Fight</title>
</head>
<body>
<div class="annabelleDiv">
    <img class="annabelleDoor" th:src="@{/images/annabelleFight/annabelleDoor.jpg}">
    <button class="fightBtn" id="fightBtn"></button>
    <button class="escapeBtn" id="escapeBtn"></button>
<!--    <button class="itemsBtn" id="itemsBtn"><img th:src="@{/images/itemsbutton.jpg}"width="100x100"></button>-->
    <p class="talkBubble1">"Annabelle's evil laughter is echoing in the room"</p>
    <div class="itemsDiv" id="itemsDivDiv">
    </div>
    <button class="showItems" id="showItemsBtn">ITEMS</button>
</div>


<script th:src="@{webjars/jquery/3.1.1/jquery.js}"></script>
<script th:src="@{/js/annabelleView.js}"></script>
</body>
</html>