
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>horror-game</title>
</head>
<body>
<div class="indexMainDiv">
    <img class= "menuImg" th:src="@{/images/mainImg.jpg}">
    <button id="startBtn" class="startBtn">Start</button>
    <button id="exitBtn" class="exitBtn">Exit</button>
    <button id="resumeBtn" class="resumeBtn">Resume</button>
    <button class="btn btn-info" id="add-player">Add</button>
   <!-- <button class="btn editPlayer" id="editPlayer">Edit</button>
    <button class="btn saveEditPlayer" id="savEditPlayer">Save</button>-->

   <!-- <button class="btn editPlayer">Edit</button>
    <button class="btn saveEditPlayer">Save</button>-->
</div>
<div class="playerDiv">

    </div>

<script th:src="@{webjars/jquery/3.1.1/jquery.js}"></script>
<script th:src="@{/js/menuView.js}"></script>
</body>
</html>

