<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/jigsawScreen.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jigsaw</title>
</head>
<body>
<main>
        <div class="mainDiv">
            <img id="baseImage" class= "jigsawBaseBackground" th:src="@{/images/jigsawBaseScreen.jpg}" width="100%">
        </div>
</main>

<script th:src="@{webjars/jquery/3.1.1/jquery.js}"></script>
<script th:src="@{/js/jigsawView.js}"></script>
</body>
</html>