<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samara</title>

    <link rel="stylesheet" type="text/css" href="/samara.css">

    <script th:src="@{webjars/jquery/3.1.1/jquery.js}"></script>
    <script th:src="@{/js/samara.js}"></script>
</head>
<body >
    <div class="container" id="container">

    <img id="samaraBase" class= "samaraBase" th:src="@{/images/start_samara.jpg}">
    <img id="fightSamara" th:src="@{/images/fight_1_samara.jpg}">
    <img id="samaraWell" th:src="@{/images/samara_well.jpg}">
    <img id="winnerFrame" th:src="@{/images/winner_frame.jpg}">
    <img id="endFrame"  th:src="@{/images/end_frame.jpg}">

    <p id="samaraLife"> Samaras life<br>
        <span id="heartSpan">
            <img id="samaraLife1" th:src="@{/images/red_heart.jpg}">
            <img id="samaraLife2" th:src="@{/images/red_heart.jpg}">
            <img id="samaraLife3" th:src="@{/images/red_heart.jpg}">
        </span>
    </p>

    <div id="statsAndButtons" class="statsAndButtons">

        <img class="lifeAndScore" id="lifeAndScore" th:src="@{/images/life_and_score_box.jpg}">
        <img class="redHeart" id="heart1" th:src="@{/images/red_heart.jpg}">
        <img class="redHeart" id="heart2" th:src="@{/images/red_heart.jpg}">
        <img class="redHeart" id="heart3" th:src="@{/images/red_heart.jpg}">

        <p id="greeting">A wild Samara appeared "YOU CANT RUN FROM ME!!" <br>Click fight to hurt her or escape to run</p>
        <button id="fightButton" onclick="hurtSamara()">FIGHT</button>
        <button id="escapeButton" onclick="escapeMessage()">ESCAPE</button>
        <button id="continueButton" onclick="backToCorridor()">CONTINUE</button>



    </div>

    </div>

</body>
</html>