<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samara</title>

  <link rel="stylesheet" type="text/css" href="/samara.css">

  <script th:src="@{webjars/jquery/3.1.1/jquery.js}"></script>
  <script th:src="@{/js/samara.js}"></script>
</head>

<body>

  <div class="mainDiv">

    <img id="samaraBase" class= "samaraBase" th:src="@{/images/start_samara.jpg}">
    <div id="itemDiv"></div>

  </div>

</body>

</html>